<!-- HEADER -->
	<header>
		<!-- start top header -->
		<div id="top-header">
			<div class="container"> 
				<ul class="header-links pull-left">
					<li><a href="#"><i class="fa fa-phone"></i> +216 23 300 054</a></li>
					<li><a href="#"><i class="fa fa-envelope-o"></i> email@MakTabty.com </a></li>
					<li><a href="#"><i class="fa fa-map-marker"></i>Nabeul, Tunisia  </a></li>
				</ul>
				<ul class="header-links pull-right">
					<!-- <li><a href="#"><i class="fa fa-dollar"></i>100 DT</a></li> -->
					<li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
				</ul>
			</div>
		</div>
		<!-- end top header -->

		<!-- start main header -->
		<div id="header">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="header-logo">
							<a href="/" class="logo">
									<img src="{{asset('img/logo.png')}}" alt="logo">
							</a>
						</div>
					</div>
	
					<!-- SEARCH BAR -->
					<div class="col-md-6">
						<!--	<div class="header-search">
							<form>
								<input class="input" placeholder="Search  here">
								<button class="search-btn">Search</button>
							</form>
						</div>-->
					</div>
					<!-- /SEARCH BAR -->
					

					<!--start Wishlist & Cart -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<div>
								<a href="#">
									<i class="fa fa-heart-o"></i>
									<span>Your Wishlist</span>
									<div class="qty">2</div>
								</a>
							</div>
							<div>
								<a href="/cart">
									<i class="fa fa-shopping-cart"></i>
									<span>Your Cart</span>
									<div class="qty">2</div>
								</a>
							</div>
							<div>
							{# <a href="{{ path('livre_par_th')}}" class="btn btn-success">Recherche par Theme</a> #}
							</div>
			
						<!-- end Wishlist & Cart -->
						<!-- Menu Toogle -->
							<!-- <div class="menu-toggle">
								<a href="#">
									<i class="fa fa-bars"></i>
									<span>Menu</span>
								</a>

							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end header -->