
<div class="slider-offre section">
		<a href="" class="item1">
			<!-- <div class="offre-item item1"></div> -->
		</a>
		<a href="" class="item2">
			<!-- <div class="offre-item item2"></div> -->
		</a>
		<a href="" class="item3">
			<!-- <div class="offre-item item3"></div> -->
		</a>

	</div>